.section-home {
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4.5rem;
  text-align: center;
  letter-spacing: 0.0625rem;
}

.home-description {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 0.5rem;
  text-align: center;
  max-inline-size: 45.0625rem;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .home-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin-top: 0.5rem;
  }
}
