header {
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  gap: 64px;
}

.nav-links.mobile {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  padding: 16px;
  z-index: 1000;
}

.nav-links li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #252020;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icons a {
  text-decoration: none;
  color: black;
}

.menu-icon {
  display: none;
}

.lang-container {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  letter-spacing: 1px;
  display: flex;
  gap:0.1rem;
  align-items: center;
}

/* Responsive design */
@media (max-width: 1024px) {
  nav {
    padding: 20px 30px;
  }

  .nav-links {
    gap: 15px;
  }

  .logo-text {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .logo-text {
    font-size: 20px;
  }

  .nav-links {
    display: none;
  }

  .nav-links.mobile {
    display: flex;
  }
  .hidden {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .nav-icons {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 16px 0px;
  }

  .logo-text {
    font-size: 20px;
  }
 
 
  .logo-icon {
    width: 20px;
    height: 20px;
  }

  .nav-icons a img {
    width: 20px;
    height: 20px;
  }
}
