.footer {
    background-color: #000;
    color: #fff;
    padding: 40px;
    font-family: 'Arial', sans-serif;
  }
  
  .footer h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .footer p, .footer a, .footer span {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer a:hover {
    color: #fff;
  }
  
  .contain {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    grid-template-columns: 1fr 1fr;
  }
  
  .newsletter-input {
    display: flex;
    margin-top: 20px;
  }
  
  .newsletter-input input {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    width: 250px;
    background-color: #222;
    color: #fff;
  }
  
  .newsletter-input input::placeholder {
    color: #888;
  }
  
  .newsletter-input button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .newsletter-input button:hover {
    background-color: #555;
  }
  
  
  .footer-column ul {
    list-style: none;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-column ul li span {
    display: inline-block;
    color: #ccc;
  }
  
  .footer-column ul li a:hover,
  .footer-column ul li span:hover {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .footer-newsletter {
      grid-column: span 1;
      text-align: left;
    }
  
    .newsletter-input {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .newsletter-input input,
    .newsletter-input button {
      width: 100%;
      margin: 5px 0;
    }
  
    .footer-column {
      text-align: center;
    }
  }
  